table {
  /* overflow-x: auto; */
  height: 80%;
  width: 50%;
  background-color: aquamarine;
  border: 1px solid black;
  margin-left: 1%;
}

th, td {
  text-align: center;
}

input {
  margin: 0.5%;
}

button {
  padding: 1%;
  margin: 0.3%;
}

#result {
  background-color: wheat;
  margin-left: 0.2%;
  margin-top: 0.5%;
  margin-right: 0.2%;
  margin-bottom: 0.5%;
  display: inline-block;
  text-align: right;
  width: 14%;
}

body {
  background-color: powderblue;
}

h1 {
  color: blue;
  font-family: courier;
  font-size: 360%;
  padding-left: 0.5%;
}

p {
  color: red;
  font-size: 120%;
  padding-left: 0.5%;
}